---
layout: default
---
<h1>FAQ</h1>
<ul>
    {% for page in site.pages %}
        {% if page.url contains "/en/faq/" %}
            <div class="well article">
                <h2>
                    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </h2>
                <div class="post-description">
                    {{ page.description }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</ul>
