{% assign trans = site.data.values[site.lan] %}
<h1>Links</h1>
<ul>
  <li><a href="https://www.pi-data.de">PI-Data AG</a></li>
</ul>
<p>This web site is based on</p>
<ul>
  {% for link in site.data.links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li> 
  {% endfor %}
</ul>
